---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{ site.description }}</h1>

  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

  {% if site.itunes_url %}
  <h3 class="rss-subscribe"><a href="{{ site.itunes_url }}">Subscribe on iTunes</a></h3>
  {% endif %}

  {% if site.google_url %}
  <h3 class="rss-subscribe"><a href="{{ site.google_url }}">Subscribe on Google Podcasts</a></h3>
  {% endif %}

</div>
